.button {
  font: inherit;
  padding: 0.5rem 2rem;
  background-color: #4d56ba;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  &:focus {
    outline: none;
  }
  &:hover,
  :active {
    background: #7e3cf8;
  }
}
