.button {
  font: inherit;
  padding: 0.5rem 2rem;
  background: #0028ab;
  border: 1px solid #0028ab;
  color: white;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover,
  :active {
    background: #234edc;
    border-color: #234edc;
  }
}
